@import "stylesheet/config/colors";

.input__group {
  display: flex;
  flex-direction: column;

  .form__label {
    font-weight: bold;
    margin: 1rem 0;
  }

  .form__input {
    border: 1px solid $dark;
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
  }
}
