@import "stylesheet/config/colors";

.form__group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .form__label {
    font-weight: bold;
  }

  .form__input {
    border: 1px solid $dark;
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
}
